<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BoundMapper">
    <insert id="insertBound" parameterType="com.example.demo.entity.Bounds">
        INSERT INTO
        line_bound(ClassName,McLat,McLng,XbLat,XbLng,SouthWestLat,SouthWestLng,NorthEastLat,NorthEastLng,BusLineID)
        VALUES (#{CLASS_NAME},#{mc.lat},#{mc.lng},#{xb.lat},#{xb.lng},#{southwest.lat},#{southwest.lng},#{northeast.lat},#{northeast.lng},#{busLineID});
    </insert>

</mapper>