<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BusLineMapper">

    <insert id="insertBusLine" parameterType="com.example.demo.entity.BusLines">
        INSERT INTO bus_line(LineID,Name,StartStop,EndStop,StationID,Lat,Lng) VALUES (#{id},#{name},#{start_stop},#{end_stop},#{stationID},#{location.lat},#{location.lng});
    </insert>
</mapper>