<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.MapMapper">

	<select id="queryStationName" resultType="java.lang.String">
		SELECT bus_stop.BusStopName FROM bus_stop ORDER BY bus_stop.ID  ASC
	</select>

	<select id="queryLineName" resultType="java.lang.String">
		SELECT bus_route.BusRouteName FROM bus_route ORDER BY bus_route.ID ASC
	</select>

</mapper>